@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap");

html,
body {
  font-family: "Lato", sans-serif;
  color: #232323;
  background: #edeef2;
  margin: 0;
  padding: 0;
  height: 100%;
}
